{% extends "Layout.liquid" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>

<p>This service gives simple answer on complex question: <em>"Is it possible to share source code snipnet with the colleague without sending it over public network?"</em></p>
<p>Instant messengers are great! But most common of them are installed outside your security boundaries. And these that have local servers in your building, as well as your corporate mail, obviously could not offer nice syntax highlighting.</p>
<p>So why do not install <em>"Pasta & Basta"</em> on your company's server environment? It's simple and slick, uses managed C# code for its operation and have <a href="https://github.com/toolchain/Pasta">full sources freely available</a>!</p>
<p><em>"Pasta & Basta"</em> build with web standards in mind and takes advantage of industry's standard solutions:</p>
<ul>
    <li><a href="http://nancyfx.org/">Nancy</a> for application framework;</li>
    <li>Embedded <a href="http://managedesent.codeplex.com/">ESENT</a> for database;</li>
    <li><a href="http://liquidmarkup.org/">Liquid</a> as secure template engine;</li>
    <li><a href="http://html5boilerplate.com/">HTML5 &#x2605; Boilerplate</a> as HTML template;</li>
    <li><a href="http://code.google.com/p/google-code-prettify/">Google Code Prettify</a> for source highlighting;</li>
    <li>Nice font called <a href="http://google.com/webfonts/specimen/Cuprum">Cuprum</a> by <a href="http://jovanny.ru/">Jovanny Lemonad</a>.</li>
</ul>
{% endblock %}
