{% extends "Layout.liquid" %}

{% block title %}Cook new!{% endblock %}

{% block header %}
     <script type="text/javascript" src="/content/js/vendor/jquery-1.8.2.min.js"></script>
	 <script type="text/javascript" src="/content/js/main.js"></script>
{% endblock %}

{% block content %}
    <form action="/Create" method="post">
        <fieldset>
        <div id="Content" contenteditable="true"></div>
        <p><input type="submit" value="Store" /></p>
        </fieldset>
    </form>
{% endblock %}