<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="1.7.0" targetFramework="net40" />
  <package id="ManagedEsent" version="1.6" targetFramework="net40" />
  <package id="Nancy" version="0.15.0" targetFramework="net40" />
  <package id="Nancy.Hosting.Wcf" version="0.15.0" targetFramework="net40" />
  <package id="Nancy.Viewengines.DotLiquid" version="0.15.0" targetFramework="net40" />
</packages>