@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout.cshtml";
}

<h2>About</h2>

<p>This service gives simple answer on complex question: <em>"Is it possible to share source code snipnet with the colleague without sending it over public network?"</em></p>
<p>Instant messengers are great! But most common of them are installed outside your security boundaries. And these that have local servers in your building, as well as your corporate mail, obviously could not offer nice syntax highlighting.</p>
<p>So why do not install <em>“Pasta & Basta”</em> on your local environment? It’s simple and slick, uses managed C# code for its operation and have full sources freely available!</p>
<p><em>“Pasta & Basta”</em> build with web standards in mind and takes advantage of industry’s standard solutions:</p>
<ul>
    <li><a href="http://www.asp.net/mvc/mvc4">ASP.NET MVC 4</a> for application framework;</li>
    <li>Embedded <a href="http://www.ravendb.net/">RavenDB</a> for database;</li>
    <li><a href="http://html5boilerplate.com/">HTML5 &#x2605; Boilerplate</a> as HTML template;</li>
    <li><a href="http://code.google.com/p/google-code-prettify/">Google Code Prettify</a> for source highlighting.</li>
</ul>

