@model Basta.Models.Pastie

@{
    ViewBag.Title = "Cook new pasta!";
    Layout = "~/Views/Layout.cshtml";
}

<article>
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            @Html.TextAreaFor(model => model.Content, new { @class = "prettyprint" })
            <p><input type="submit" value="Store" /></p>
        </fieldset>
    }
</article>

<aside>
    <h3>Pass a recipe!</h3>
    <p>Please use your favorite programming language to compose code snipnet, store it and pass link over your colleagues.</p>
    <p>The system will take care of rest:</p>
    <ul>
        <li>Carefully detecting language used;</li>
        <li>Highlighting sintax with the taste;</li>
        <li>Keeping eye on experation date;</li>
    </ul>
</aside>
