@model Basta.PastieModel

@{
    ViewBag.Title = "Cook new pasta!";
    Layout = "Layout.cshtml";
}

<article>
    <form action="/Create" method="post">
        <fieldset>
        <textarea class="prettyprint" id="Content" name="Content"></textarea>
        <p><input type="submit" value="Store" /></p>
        </fieldset>
    </form>
</article>

<aside>
    <h3>Pass a recipe!</h3>
    <p>Please use your favorite programming language to compose code snipnet, store it and pass link over your colleagues. The code will be securely kept for one month.</p>
    <p>The system will take care of rest:</p>
    <ul>
        <li>Carefully detecting language used;</li>
        <li>Highlighting sintax with the taste;</li>
        <li>Keeping eye on experation date;</li>
    </ul>
</aside>