@model Basta.PastieModel

@{
    ViewBag.Title = "#" + Model.Id;
    ViewBag.Highlight = true;
    Layout = "Layout.cshtml";
}
<h1>#@Model.Id</h1>

<pre><code class="prettyprint linenums">@Model.Content</code></pre>